{% extends 'layout.html' %}

{% block body %}
<div class="content">
  <div class="row justify-content-center">
    <div class="col-auto">
    <table class="table table-bordered table-dark table-striped table-responsive">
      <thead class="thead-light">
        <tr>
          <th>English</th>
          <th>Spanish</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
          <tr>
           <td>{{note.english}}</td>
           <td>{{note.spanish}}</td>
           <td><a href="edit/{{note.id}}">Update</a></td>
           <td><a href="delete/{{note.id}}">Delete</a></td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    <hr/>
    <a class="btn btn-primary" href="/add">Add Note</a>
    </div>
    </div>
</div>
{% endblock %}
